docker {
    enabled = true
}

process {

     withName:INFERENCE {
	container = 'storytek/stable-diffusion-nf:latest'
	memory = '6.GB'
	cpus = 1
	accelerator = 1
	containerOptions = '-e NVIDIA_REQUIRE_CUDA=cuda>=9.0 NVIDIA_DRIVER_CAPABILITIES=all'
     }


     withName:MERGE {
         container = 'storytek/imagemagick:latest'
     }
}

dag {
    enabled = true
    file = 'pipeline_dag.html'
    overwrite = true
}
